body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: rgb(255, 255, 255);
  color: rgb(105, 105, 105);
}
a:hover, a:focus {
  color: white;
}

/* Head-section*/
header {
  height: 75px;
  font-family: 'Teko';
  font-weight: 300;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: absolute;
  z-index: 999;
  width: 100%;
}
.navbar-menu-list {
  display: flex;
  margin: 0px;
  align-items: center;
  justify-content: space-between;
}
li > a, .logo {
  text-decoration: none;
  background-color: transparent;
  line-height: 50px;
  font-weight: 400;
  display: block;
  height: 75px;
  width: 75px; 
  color: rgb(105, 105, 105);
}
ul.navbar-menu-list > li {
  list-style: none;
  height: 75px;
  width: 75px;
  text-align: center;
  color: rgb(105, 105, 105);
}
ul.navbar-menu-list > li:active, ul.navbar-menu-list > li:hover {
  list-style: none;
  display: inline-block;
  height: inherit;
  color: white;
  background-color: #2da7c5;
  box-shadow: inset 0 -15px rgb(57, 118, 153);
  outline: 0;
  box-sizing: border-box;
}
.blog {
  border-radius: 10px;
  background-color: rgb(228, 116, 116);
  border: 0px;
  height: 35px;
  width: 70px;
  color: white;
}
.search-input {
  border: none;
  width: 50px; 
}
.search-button {
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: transparent;
  position: relative;
  right: 20px;
}
.search-image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  transform: scale(-1, 1);
}
/*End of Header-section*/

/*owl-carousel section*/
.owl-carousel {
  width: 100%;
  margin: 0 auto;
  background-size: contain;
  font-family: 'Teko', sans-serif;
}
.item {
  height: 400px;
}
.item-container > h1 {
  color: rgb(175, 175, 175);
  text-align: center;
}
.item-container > h2 {
  color: rgb(175, 175, 175);
  text-align: center;
  font-size: 0.7em;
}
.button-learn-more {
  margin-top: 3%;
  background-color: rgb(228, 116, 116);
  color: white;
  border: none;
  padding: 15px;
  border-radius: 5px;
  width: 30%;
  font-size: 1.5em;
}
.item-container {
  margin: 0 auto;
  vertical-align: middle;
  width: 55%;
  text-align: center;
  color: white;
  padding-top: 50px;
}
/* end of owl-carousel section*/

/* services section*/
.services {
  z-index: 1000;
  font-family: 'Sanchez', serif;
}
.list-of-services {
  display: flex;
  list-style: none;
  margin-left: 5%;
  margin-right: 5%;
}
.service-image, .author-photo {
  width: 80px;
  height: 80px;
}
.service-container {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}
.service-description {
  font-size: 0.8em;
}
.service-description-link {
  text-decoration: none;
  color: #2da7c5;
}
/*end of services section*/

/*portfolio section*/
.portfolio-container {
  margin: 0 auto;
  text-align: center;
  background-color: #21303a;
  padding: 5%;
  font-family: 'Sanchez', serif;
}
.list-of-portfolio {
  display: flex;
  list-style: none;
}
.list-of-portfolio-item {
  flex-basis: 33%;
  margin-left: 20px;
  margin-right: 20px;
}
.list-of-portfolio-item-image {
  width: 85%;
  height: 250px;
  background-color: grey;
  border: 5px white solid;
}

.portfolio-head {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.portfolio-head-name {
  color: rgb(228, 151, 116);
}
.portfolio-head-button {
  background-color: rgb(20,150,200);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-weight: 400;
  height: 40px;
}
.list-of-portfolio-item-button {
  display: inline-block;
  position: relative;
  left: -10px;
  top: -150px;
  border: none;
  background-color: transparent;
  color: white;
  border-radius: 5px;
  visibility: hidden;
}
.list-of-portfolio-item-button:hover {
  border: 5px white double;
  color: black;
  visibility: visible;
}
.list-of-portfolio-item-button:active {
  border: 5px black double;
  visibility: visible;
}
.list-of-portfolio-item-content {
  text-align: left;
  font-size: 0.8em;
}
h4.list-of-portfolio-item-content {
  color: rgb(228, 116, 116);
}
p.list-of-portfolio-item-content {
  color: white;
}
/*end of portfolio-section*/

/*what-we-offer section*/
.what-we-offer-head {
  font-size: 2em;
  text-transform: uppercase;
  line-height: 2em;
  text-align: center;
  color: #2da7c5;
  font-weight: 600;
  font-family: 'Teko', san-serif;
 }
.what-we-offer-item {
  width: 25%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 20px;
  padding-right: 20px;
}
.what-we-offer-item-head {
  color: #2da7c5;
  font-family: 'Sanchez', serif;
  font-size: 1.4em;
}
.what-we-offer-item-content {
  font-size: 0.8em;
  line-height: 1.2em;
}
.what-we-offer-item-button {
  background-color: rgb(20,150,200);
  color: white;
  border: none;
  border-radius: 5px;
  float: right;
  padding: 5px;
  font-weight: 400;
}
.what-we-offer-item-button-shadow {
  box-shadow: 0 5px rgb(57, 118, 153);
}
.what-we-offer-item-link {
  color: rgb(20,150,200);
  font-weight: 600;
}
.what-we-offer-sub-head {
  text-align: center;
  font-size: 0.8em;
  width: 75%;
  margin: 0 auto;
}
/*end of what-we-offer section*/

/*quote section*/
.quote {
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  margin-bottom: 40px;
}
.quote-head {
  font-family: 'Teko', sans-serif;
  color: #2da7c5;
}
.quote-text {
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: 'Sanchez', serif;
}
.quote-author-container {
  display: flex;
  justify-content: center;
}
.quote-image-container {
  display: flex;
  justify-content: center;
}
/*end of quote section*/

/*footer section*/
footer {
  display: block;
  width: 100%;
  color: rgb(175, 175, 175);
  font-family: 'Sanchez', serif;
}
.footer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(24, 41, 63);
  flex: 0 0 auto;
  font-size: 0.8em;
  line-height: 1.5em;
}
.footer-section > h3 {
  color: rgb(228, 116, 116);
  font-family: 'Teko', serif;
  font-size: 2em;
}
.footer-section {
  flex-basis: 25%;
  padding: 1%;
}
.footer-contacts {
  list-style: none;
  line-height: 1.5em;
}
hr {
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.footer-feedback{
  margin-top: 5px;
  color: #2da7c5;
}
.footer-sign-in {
  width: 100%;
  border-radius: 5px;
  border: none;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1.5em;
}
.footer-sign-in-button {
  border-radius: 5px;
  border: none;
  background-color: #2da7c5;
  color: white;
}
.footer-contact-phone {
  background-image: url(https://apptractor.ru/wp-content/uploads/2014/05/Call-PopOut.png);
  background-repeat: no-repeat; 
  background-position: 4px; 
  background-size: 30px 30px;
}
.footer-contact-sms {
  background-image: url(http://universal-tour.com/filter/index.php?proxq=aHR0cHM6Ly9saDMuZ29vZ2xldXNlcmNvbnRlbnQuY29tL3QwdzVHc1ozXzRwTjVjSTgxMlhTVUhWNGdFTG9tQ3IybWh4TVV4d0t4eFdDTmw5SXBfVkdlS2JLcVZaZTloeThXMDQ9czE4MA%3D%3D);
  background-repeat: no-repeat; 
  background-position: 4px; 
  background-size: 30px 30px;
}
.footer-contact-email {
  background-image: url(https://www.memoclic.com/medias/var/2014-10/Courrier-Windows-8.png);
  background-repeat: no-repeat; 
  background-position: 4px; 
  background-size: 30px 30px;
}
.footer-sign-in-button {
  float: right;
  padding: 5px;
} 
.footer-newsletter-text {
  margin-bottom: 10px;
}
.footer-twit > a, .footer-recent-projects-link {
text-decoration: none;
color: #2da7c5;
}
.footer-recent-projects {
  display: flex;
  justify-content: space-around;
}
.footer-recent-projects-image {
  width: 50px;
  height: 50px;
}
/*end of footer section*/

/*media*/
@media screen and (max-width:760px) {
  .list-of-services, .list-of-portfolio, .what-we-offer-container, .footer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .what-we-offer-item {
    width: 100%;
  }
}
@media screen and (max-width:480px) {
  nav, .navbar-menu-list, footer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  header {
    height: auto;
    margin: 0 auto;
  }
  .button-learn-more {
    margin-top: 3%;
    width: 40%;
    font-size: 1em;
  }
}
/*end of media*/